apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cloudguard.fullname" . }}-web
  labels:
    app: web
    {{- include "cloudguard.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount.web }}
  selector:
    matchLabels:
      app: web
      {{- include "cloudguard.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: web
        {{- include "cloudguard.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: web
          image: "{{ .Values.image.repository }}/web:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          {{- with .Values.resources.web }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cloudguard.fullname" . }}-web
  labels:
    app: web
    {{- include "cloudguard.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.web.port }}
      targetPort: 80
  selector:
    app: web
    {{- include "cloudguard.selectorLabels" . | nindent 4 }}
