---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: cloudguard
  labels:
    app: worker
spec:
  replicas: 2
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: cloudguard/api:latest
        imagePullPolicy: IfNotPresent
        command: ["rq", "worker", "-u", "redis://redis:6379/0", "scans", "retrain"]
        envFrom:
        - configMapRef:
            name: api-config
        - secretRef:
            name: postgres-secret
        - secretRef:
            name: api-secret
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "2000m"

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: worker-hpa
  namespace: cloudguard
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: worker
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
